body {
  line-height: 1.5;
  font-kerning: normal;
  font-variant: common-ligatures oldstyle-nums proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "onum", "pnum";
}

body * {
  line-height: inherit;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
}

article,
aside,
figure,
figcaption,
footer,
header,
main,
nav,
section {
  display: block;
}

sub {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: sub;
  vertical-align: -20%;
}

sup {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 35%;
}

h1,
h2,
h3 {
  font-variant: common-ligatures lining-nums proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "lnum", "pnum";
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10%;
}

table {
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "kern", "lnum", "tnum";
}

code {
  font-variant: no-common-ligatures lining-nums;
  font-feature-settings: "kern" 0, "liga" 0, "clig" 0, "lnum";
}

.fraction {
  font-variant-numeric: diagonal-fractions;
  font-feature-settings: "frac";
}

table {
  table-layout: fixed;
}

th.third {
  width: 33%;
}

img {
  object-fit: contain;
  vertical-align: middle;
}

figure {
  page-break-inside: avoid;
  break-inside: avoid;
}

nav[epub\:type~="landmarks"],
#landmarks {
  display: none;
  visibility: hidden;
}

@supports not ((page-break-inside: avoid) and (break-inside: avoid)) {
  figure {
    -webkit-column-break-inside: avoid;
  }
}

@supports (height: calc(98vh - 5em)) {
  img {
    width: auto;
    max-width: 100%;
    min-height: 300px;
    object-fit: contain;
  }
}

p {
  text-indent: 1.25em;
  margin: 0;
  padding: 0;
}

.copyright-editions {
  margin-top: 2.5em;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.copyright-editions p {
  line-height: 1.2em;
  text-align: center;
}

.copyright-list-item {
  margin-bottom: 3em;
}

.copyright-message {
  font-size: 0.8em;
}

.toc-list {
  margin-top: 3em;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.chapter-title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 10%;
}

.new-chapter {
  text-indent: 0;
  margin-top: 3em;
}

.new-paragraph {
  text-indent: 0;
  margin-top: 1em;
}

.copyright,
.titlepage {
  position: relative;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
}

.titlepage-title {
  text-align: center;
  text-indent: 0;
  font-size: 2em;
  letter-spacing: -2px;
  margin-top: 10%;
  line-height: 1.2em;
}

.titlepage-byline {
  text-align: center;
  text-indent: 0;
}

.wrapper-publisherimage {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  page-break-inside: avoid;
}

.url {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1.5em;
}

.wrapper-cover {
  text-align: center;
  height: 100%;
}

@supports (display: -webkit-flex) or (display: flex) {
  .wrapper-cover {
    min-height: 95vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.cover-image {
  margin: 0;
  text-align: center;
  height: 98%;
}

.italic {
  font-style: italic;
  text-transform: none;
}

.bold {
  font-weight: bold;
  text-transform: none;
}

.superscript {
  font-size: 0.675em;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 35%;
}

.small-caps {
  font-variant: small-caps;
  text-transform: none;
}

/* Kindle Legacy Specific Styles */
@media amzn-mobi {
  .first {
    text-indent: 0;
  }
}

/* @supports (display: -webkit-flex) or (display: flex) {
  .span {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100vh;
  }
} */
